$primary-color: #00a4d6;
$bg-color: #f2f2f2;
$features-color: #444444;
$testimonials-color: #007396;
$nav-color: #20272e;
$gray: #bdc3c7;
$black: #111111;
$white: #f3f3f3;
$pure-white: white;
$box-shadow-btns: 4px 4px 15px rgba(17, 17, 17, 0.418);
$icon-bullet: "\e2e6";
$icon-bullet-color: #1fc51e;
$watch-movie-icon: "\e04b";
